.background5 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white1);
  width: 345px;
  height: 1311px;
}
.graph-1-icon3 {
  position: relative;
  width: 32px;
  height: 32px;
}
.text13 {
  position: relative;
  font-weight: 600;
}
.interface-chart-line3,
.nav5 {
  position: absolute;
  top: 0;
  left: 0;
}
.nav5 {
  margin: 0;
  border-radius: var(--br-base);
  background-color: var(--color-white1);
  box-shadow: var(--shadow);
  width: 285px;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  cursor: pointer;
  text-align: left;
  font-size: var(--text-text-semi-bold-1-size);
  color: var(--color-lightslategray-200);
  font-family: var(--xl-semibold);
}
.interface-chart-line3 {
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.text14 {
  position: absolute;
  top: 3px;
  left: calc(50% - 66px);
}
.interface-chart-line-group {
  margin: 0;
  position: absolute;
  top: 172px;
  left: 7px;
  width: 278px;
  height: 32px;
  cursor: pointer;
  text-align: left;
  font-size: var(--text-text-semi-bold-1-size);
  color: var(--greys-blue-grey-700);
  font-family: var(--xl-semibold);
}
.sign-out-icon3,
.sign-out3 {
  position: absolute;
  top: 3px;
  left: 74px;
}
.sign-out-icon3 {
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.sign-out-parent1 {
  margin: 0;
  position: absolute;
  top: 291px;
  left: 11px;
  width: 274px;
  height: 32px;
  cursor: pointer;
  text-align: left;
  font-size: var(--text-text-semi-bold-1-size);
  color: var(--greys-blue-grey-700);
  font-family: var(--xl-semibold);
}
.frame-ul {
  margin: 0;
  position: absolute;
  top: 155px;
  left: 46px;
  width: 299px;
  height: 323px;
}
.mibus4 {
  position: absolute;
  top: 55px;
  left: 123px;
  line-height: 150%;
  font-weight: 600;
}
.dummy-logo-icon4,
.side-menu4 {
  position: absolute;
  top: 50px;
  left: 43px;
  width: 56px;
  height: 56px;
}
.side-menu4 {
  top: 0;
  left: 0;
  width: 345px;
  height: 1311px;
  text-align: left;
  font-size: var(--xl-semibold1-size);
  color: var(--greys-blue-grey-900);
  font-family: var(--xl-semibold);
}
